/* ===============================================
   styles.css - Styles for Data Table
   ===============================================
   
   This stylesheet contains custom styles for a data table.
   
   Author: Hein Soe
   GitHub: https://github.com/hheinsoee/table
   Date: 2023-08-15
   Version : 2.0.0
   =============================================== */

.tableContainer {
    padding: 5px 10px;
}
.theTable {
    font-family: Arial, Helvetica, sans-serif;
    border-spacing: 0;
    cursor: default;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 100%;
    font-size: 11pt;
    table-layout: fixed;
}
.theTable th,
.theTable td,
.columsToggle label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
}
.theTable tbody tr:nth-child(odd) {
    background-color: rgba(50%, 50%, 50%, 0.07);
}
.theTable tbody tr:hover {
    background-color: rgba(50%, 50%, 50%, 0.2);
}
.theTable thead {
    background-color: rgba(189, 189, 189, 0.582);
}
.theTable thead,
.noselect {
    user-select: none;
}
.theTable th,
.theTable td {
    padding: 0rem 0.6rem;
    height: 36px;
    align-items: center;
    text-align: left;
}
.theTable caption {
    opacity: 0.7;
}
.columsToggle,
.paganition {
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
    list-style: none;
    margin-inline-start: 0px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    padding-inline-start: 0px;
    display: inline-flex;
    align-items: center;
    border-radius: 0.3rem;
    overflow: hidden;
    flex-wrap: wrap;
}
#loading > * {
    animation: spain 2s infinite;
}
@keyframes spain {
    0% {
        transform: rotateX(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}
.columsToggle label:first-child {
    border: none;
}
form.search {
    border-radius: 0.3rem;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    display: flex;
}
input[type="search"] {
    border: none;
    padding: 3px 8px;
    outline: none;
    background-color: transparent;
    color: inherit;
}

input[type="search"] ~ button {
    border: none;
    cursor: pointer;
}
input[type="search"]:focus-visible {
    box-shadow: 0px 8px 17px rgba(0, 0, 0, 0.2);
}
.paganition li {
    padding: 0.2rem 0.6rem;
    /* min-width: 2rem; */
    border-left: 1pt solid #99999981;
    cursor: pointer;
}
.paganition li.active {
    background-color: #9999996b;
}
.paganition li:hover {
    background-color: #99999962;
}
.paganition li:first-child {
    border: none;
}
.topPanel,
.bottomPanel {
    background-color: #ffffff79;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    z-index: 10;
    padding: 5px 10px;
    backdrop-filter: blur(10px);
    gap: 1rem;
}
.topPanel {
    top: 0;
    align-items: flex-end;
}
.bottomPanel {
    bottom: 0;
}
.rowsperpage {
    display: flex;
    align-items: first baseline;
    gap: 5px;
}
.avatar {
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    object-fit: cover;
    object-position: center;
    background-color: rgba(50%, 50%, 50%, 0.3);
    margin-bottom: -7px;
}

.columsToggle label {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    margin: 0px 0.5px;
    /* border: 0.5pt solid #99999981; */
}
.columsToggle label span {
    background-color: #eeeeee;
    padding: 0px 8px;
    opacity: 0.6;
    text-decoration: line-through;
}
.theTableContainer input[type="checkbox"] {
    display: none;
}
.theTableContainer input:checked ~ span {
    background-color: #ffffff;
    opacity: 1;
    text-decoration: none;
}
@keyframes blink {
    0%,
    50%,
    100% {
        opacity: 1;
    }
    25%,
    75% {
        opacity: 0.5;
    }
}
.recentlyAdd {
    outline: none;
    animation: fadeoutAdd 3s;
}
@keyframes fadeoutAdd {
    0% {
        outline: 2px solid rgb(45, 153, 41);
    }
    100% {
        outline: 0px solid rgba(126, 126, 126, 0);
    }
}
.recentlyUpdate {
    outline: none;
    animation: fadeout 3s;
}
@keyframes fadeout {
    0% {
        outline: 2px solid rgb(196, 169, 16);
    }
    100% {
        outline: 0px solid rgba(126, 126, 126, 0);
    }
}
.recentlyRemove {
    overflow: hidden;
    max-height: 0px!important;
    animation: removeOut 1s;
    opacity: 0;
    background-color: rgb(148, 46, 46);
}

@keyframes removeOut {
    0% {
        outline: 0px solid rgba(126, 126, 126, 0);
        opacity: 1;
    }
    70% {
        outline: 2px solid rgb(255, 0, 0);
        max-height: 200px!important;
    }
    100% {
        max-height: 0px!important;
        opacity: 0;
    }
}
.skeleton {
    animation: blink 2s infinite;
    height: 1rem;
    border-radius: 50px;
    background-color: rgba(50%, 50%, 50%, 20%);
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.dark .theTableContainer {
    color: #aaaaaa;
}

.dark .theTable thead {
    background-color: #333333;
    color: #dedede;
}
.dark .theTableContainer .topPanel,
.dark .theTableContainer .bottomPanel {
    background-color: #33333357;
    color: #dedede;
}

.dark .theTableContainer form.search {
    outline: 1px solid rgba(185, 185, 185, 0.459);
}
.dark .theTableContainer input,
.dark .theTableContainer select {
    color: inherit;
    background-color: #333333;
}
.dark .columsToggle label span {
    background-color: rgb(53, 53, 53);
}
.dark .theTableContainer input:checked ~ span {
    background-color: #000000;
}
.dark button {
    background-color: #333333;
    color: inherit;
}
.columsToggle,
.paganition {
    outline: 1px solid rgba(50%, 50%, 50%, 50%);
}
